@import "//fonts.googleapis.com/css?family=Oswald:200,300,400,600|Lato:100i,300,400,900";
.titled {
  font-family: Lato, sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.placeholder-rules {
  color: #555;
  font-weight: 100;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
body {
  font-family: Lato, sans-serif;
}
.navbar-custom .nav li a {
  color: paleturquoise;
  font-family: Lato, sans-serif;
  font-size: .8em;
  font-weight: 200;
  letter-spacing: 3px;
}
.navbar-custom .nav li.active a {
  background: black;
  border-bottom: 5px solid cornflowerblue;
  color: #999;
}
.navbar-custom .nav li.api a {
  background: #1651bc;
  border-bottom: 5px solid #1651bc;
  color: #fff;
  font-weight: bold;
}
.intro {
  background: black;
}
.intro .intro-body .brand-heading {
  font-size: 8em;
}
h1 {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  padding-bottom: 50px;
}
h2 {
  color: #555;
  font-size: .8em;
  padding: 20px 0 0;
  font-family: Lato, sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
h3 {
  color: cornflowerblue;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  text-transform: none;
}
h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: .5em;
  text-align: center;
}
abbr[title] {
  border: 0;
  font-size: .8em;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-decoration: none;
}
.section-title {
  color: cornflowerblue;
}
.section-content {
  color: #999;
  font-weight: 300;
  text-align: left;
  padding-top: 75px;
}
.section-content p a {
  border-bottom: 1px solid paleturquoise;
  color: paleturquoise;
}
p {
  font-size: 1.5em;
}
time {
  color: #444;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#more {
  padding-top: 20px;
  text-align: center;
}
#more a {
  color: paleturquoise;
}
#more a:hover {
  color: #333;
}
#colophon {
  height: 200px;
  margin-top: 100px;
}
.latest-post {
  border-top: 1px solid #222;
  padding: 50px;
  text-align: center;
}
.latest-post .post-source {
  color: #444;
  font-size: 3em;
  text-align: center;
}
.latest-post .post-summary {
  color: #fff;
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
}
.latest-post .post-action {
  margin-top: 20px;
}
.latest-post .post-action a {
  color: #fff;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: lowercase;
}
.meta {
  font-size: 1em;
  padding-top: 125px;
}
.meta .post-source {
  color: #222;
}
.meta time {
  color: #444;
  font-size: .8em;
}
#post .section-content {
  padding-top: 1em;
}
#post .error,
#post .twitter,
#post .instagram,
#post .github,
#post .spotify {
  font-style: italic;
  font-weight: 100;
  text-align: center;
}
#post .twitter,
#post .instagram,
#post .github,
#post .spotify {
  font-size: 3em;
}
#post .error {
  font-size: 2em;
}
#post .error iframe {
  display: block;
  margin: .5em auto;
  width: 560px;
  height: 315px;
}
#post .post-thumbnail img {
  margin-bottom: 1em;
  width: 150px;
}
code {
  background: #111;
  color: #555555;
  font-size: .8em;
}
ul.social-media {
  margin: 0 auto 2em;
  text-align: center;
  width: 500px;
}
ul.social-media li {
  padding-right: 25px;
}
ul.social-media a {
  color: paleturquoise;
}
footer {
  color: #444;
  font-size: .7em;
  font-weight: 100;
  padding-top: 50px;
}
footer a {
  color: paleturquoise;
}
#timeline-table {
  min-height: 400px;
}
#timeline-table i span {
  display: none;
}
#timeline-table tr {
  background: none;
}
table.dataTable thead th {
  color: #444;
  font-size: .8em;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.table > tbody > tr > td,
.dataTable > tbody > tr > td {
  border-top: 1px solid #222;
  padding: 20px 5px;
  text-align: center;
}
.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
  margin-bottom: 25px;
}
.dataTables_wrapper .dataTables_filter label {
  font-weight: normal;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter label input {
  background: black;
  border: 0;
  border: 3px solid cornflowerblue;
  color: cornflowerblue;
  font-size: 1.2em;
  font-weight: 900;
  padding: 10px;
  width: 100%;
}
.dataTables_wrapper .dataTables_filter label input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #555;
  font-weight: 100;
}
.dataTables_wrapper .dataTables_filter label input::-moz-placeholder {
  /* Firefox 19+ */
  color: #555;
  font-weight: 100;
}
.dataTables_wrapper .dataTables_filter label input:-ms-input-placeholder {
  /* IE 10+ */
  color: #555;
  font-weight: 100;
}
.dataTables_wrapper .dataTables_filter label input:-moz-placeholder {
  /* Firefox 18- */
  color: #555;
  font-weight: 100;
}
.dataTables_wrapper .dataTables_info {
  color: #444;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none;
  border: 0;
  border-radius: 0;
  color: #444 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  border: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: none;
  border: 0;
  border-bottom: 3px solid cornflowerblue;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: none;
  border: 0;
}
table td a {
  color: white;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
table tr:first-child td {
  border-top: none;
}
table tr td:nth-child(3) {
  font-size: 1.1em;
  text-align: left;
}
